<div id="sidebar">
  <h1>Products</h1>
  <ul class="linklist">
    <li><a href="/starter" title="Starter">Starter</a><br /></li>
    <li><a href="/birthday-list" title="Birthday List">Birthday List</a><br /></li>
    <li><a href="/unhider" title="Unhider">Unhider</a><br /></li>
  </ul>

  <h1>Announcements</h1>
  <ul>
    <li><a href="/starter">Starter 1.1 Released</a></li>
    <li><a href="/birthday-list">Birthday List 1.1 Released</a></li>
  </ul>


  <h1>Links</h1>
  <p class="feed"><img src="/img/rss.gif" width="14" alt="feed" /> <a href="http://feeds2.feedburner.com/softdesigner">Feed</a></p>

  <p>
    {% include google-adsense.html slot="4420728490" width=160 height=600 %}
  </p>
</div>
